{% extends 'base.html' %}
{% block content %}

    <h1 class="heading">WELCOME TO XX ACADEMY PORTAL</h1>
    <br>
    <h3 class="sub_heading">Click a button to continue.</h3>
    <br>
    <div class="contianer button_contianer">
        <a class="a" href="/student">
            <button type="button" class="btn" data-bs-toggle="modal">STUDENT</button>
        </a>

        <a class="a" href="/Lecturer-login">
            <button type="button" class="btn" data-bs-toggle="modal">LECTURER</button>
        </a>  
    </div>

{% endblock content %}