{% extends 'base.html' %}
{% block content %}

    <form action="/password_recovery" method="post">

        <div class="input_contianer">
            <label for="email">Email</label>
            <input type="email" name="email" placeholder="example@email.com" required>
        </div>

        <div class="input_contianer">
            <label for="Recovery_Question">Recovery Question Answer</label>
            <input type="text" name="Recovery_Question_ans" placeholder="i am me" required>
        </div>

        <div class="input_contianer">
            <label for="new_password">New Password</label>
            <input type="password" name="password" placeholder="********" required>
        </div>

        <input type="hidden" value="submit" name="submit">
        <button class="submit_btn" type="submit">submit</button>

    </form>

{% endblock content %}