{% extends 'base.html' %}
{% block content %}

    <h1 class="heading">WELCOME TO XX ACADEMY STUDENT PORTAL</h1>
    <br>
    <h3 class="sub_heading">Click a button to continue.</h3>
    <br>

    <div class="contianer button_contianer">
        <a class="a" href="/Reg">
            <button type="button" class="btn" data-bs-toggle="modal">REGISTER</button>
        </a>

        <a class="a" href="/login">
            <button type="button" class="btn" data-bs-toggle="modal">LOGIN</button>
        </a>
    </div>
    
{% endblock content %}